!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "App"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}App
          -if user_signed_in?
            =render_navigation(:level => 1)
          -if user_signed_in?
            %ul.nav.pull-right.user_info_nav
              %li.divider-vertical
              %li.dropdown
                %a.dropdown-toggle{:"data-toggle"=>"dropdown", :href=>"#"}
                  %i.icon-black.icon-user
                  %b.caret
                %ul.dropdown-menu
                  %li=link_to "My Account", edit_account_path
                  %li=link_to "Logout", destroy_user_session_path
            -if false # 
              %form.navbar-search.pull-right{action: search_path}
                %input.search-query.span3{type: "text", placeholder: "Search", name: "query"}
          

    .container
      -if @sidebar_items
        =render partial: 'layouts/layout_with_sidebar'
      -else
        =render partial: 'layouts/layout_full'
    
      %footer
        %p &copy; Company 2012
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
