.content
  .row
    .span9.content
      = render partial: "layouts/flash_alerts"
      = yield
    .span1 &nbsp;
    .span3.sidebar
      .well.sidebar-nav
        %h3 Sidebar
        %ul.nav.nav-list
          %li.nav-header Sidebar
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"
